/* =============
    Base
============= */
/* =============
    Base
============= */
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.content-spacing{
    padding-top: 45px;
    @include md{
        padding-top: 42px;
    }
    @include lg{
        padding: 70px 0;
    }
}

