/* =============
    section-1
============= */
#section-1 {
    background-image: url('../img/section-1/hero1.jpg');
    background-position: -250px 0px;
    background-size: cover;
    height: 600px;

    @include md {
        background-position: -100px 0;
        height: 700px;
    }

    @include lg {
        background-position: 0px 0;
        height: 800px;
    }

    #section-1-container {
        padding: 0 15px;
        text-align: center;

        >h1 {
            padding-bottom: 5px;
            padding-top: 100px;

            @include lg {
                padding-bottom: 25px;
                padding-top: 150px;
            }
        }

        @include md {
            margin: 0 120px;
        }

        @include lg {
            padding: 0 195px;
        }
    }

    #start {
        display: flex;
        justify-content: center;
        margin-top: 180px;

        @include md {
            margin-top: 220px;
        }

        @include lg {
            margin-top: 180px;
        }

        >h3 {
            align-items: center;
            border: 3px solid white;
            border-radius: 123px;
            display: flex;
            height: 79px;
            justify-content: center;
            width: 79px;

            @include md {
                height: 122px;
                width: 122px;
            }

            @include lg {
                height: 170px;
                width: 170px;
            }
        }
    }
}