/* =============
    section-2
============= */
#section-2 {
    @include md {
        display: grid;
        grid-template-areas: "content img";
        grid-template-columns: auto 40%;
    }

    #section-2-container {
        background-color: $gray;
        grid-area: content;
        padding: 0 15px 100px 15px;

        @include md {
            padding: 0 20px 0px 40px;
        }

        h1 {
            text-align: center;

            @include md {
                text-align: left;
            }
        }
    }

    #section-2-img {
        background-image: url('../img/section-2/hero2.jpg');
        background-position: center;
        background-size: cover;
        grid-area: img;
        height: 350px;

        @include md {
            height: 250px;
        }
    }
}