/* =============
    section-3
============= */
#section-3 {
	display: grid;
	grid-template-areas: ". content ."
    ". img .";
	grid-template-columns: 15px auto 15px;
	width: 100%;
	#section-3-container {
		grid-area: content;
		h1 {
			text-align: center;
		}
		li {
			background-color: $gray;
			margin-bottom: 20px;
			>h1 {
				padding-top: 20px;
			}
			p {
				padding: 20px;
			}
			h5 {
				padding: 0 0 20px 20px;
			}
		}
		#card1-img {
			background-image: url('../img/section-3/card1.jpeg');
			background-position: center;
			background-size: cover;
			grid-area: img;
			height: 200px;
		}
		#card2-img {
			background-image: url('../img/section-3/card2.jpeg');
			background-position: center;
			background-size: cover;
			grid-area: img;
			height: 200px;
		}
		#card3-img {
			background-image: url('../img/section-3/card3.jpeg');
			background-position: center;
			background-size: cover;
			grid-area: img;
			height: 200px;
		}
	}
}
