/* =============
    section-3
============= */
#section-3-container {
	h1 {
		text-align: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			background-color: $gray;
			margin: 15px;
			@include md{
				margin: 25px;
				width: 300px;
			}
		
			@include lg{
				width: 360px;
			}

			>h1 {
				padding-top: 20px;
				@include lg{
					padding-top: 30px;
				}
			}

			p {
				padding: 10px 20px 20px 20px;
				@include lg{
					padding: 30px;
				}
			}

			h5 {
				padding: 0 0 20px 20px;
				@include lg{
					padding: 0 0 35px 30px;
				}
			}
			
		}

	}

	#card1-img {
		background-image: url('../img/section-3/card1.jpeg');
		background-position: center;
		background-size: cover;
		grid-area: img;
		height: 200px;
		@include md{
			width: 300px;
		}
		@include lg{
			height: 240px;
			width: 360px;
		}
		
	}

	#card2-img {
		background-image: url('../img/section-3/card2.jpeg');
		background-position: center;
		background-size: cover;
		grid-area: img;
		height: 200px;
		@include md{
			width: 300px;
		}
		@include lg{
			height: 240px;
			width: 360px;
		}
	}

	#card3-img {
		background-image: url('../img/section-3/card3.jpeg');
		background-position: center;
		background-size: cover;
		grid-area: img;
		height: 200px;
		@include md{
			width: 300px;
		}
		@include lg{
			height: 240px;
			width: 360px;
		}
	}
}