/* =============
    section-2
============= */
#section-2 {
    @include xl {
        background-color: $gray;
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1200px auto;
    }

    #section-2-container {
        @include md {
            display: grid;
            grid-template-areas: "content img";
            grid-template-columns: auto 35%;
        }

        @include lg {
            display: grid;
            grid-template-areas: "img content";
            grid-template-columns: auto 50%;
        }

        @include xl {
            grid-area: container;
            width: 1200px;
        }
    }

    #section-2-content {
        background-color: $gray;
        grid-area: content;
        padding: 0 15px 100px 15px;

        @include md {
            padding: 0 30px 0px 45px;
        }

        @include lg {
            display: grid;
            grid-template-areas: ". article .";
            grid-template-columns: auto 340px auto;
        }

        >article {
            @include lg {
                align-self: center;
                grid-area: article;
                width: 340px;
            }
        }

        h1 {
            padding-bottom: 5px;
            text-align: center;

            @include md {
                padding-bottom: 10px;
                text-align: left;
            }

            @include lg {
                padding-bottom: 10px;
                padding-top: 0;
                text-align: left;
            }
        }
    }

    #section-2-img {
        background-image: url('../img/section-2/hero2.jpg');
        background-position: center;
        background-size: cover;
        grid-area: img;
        height: 350px;

        @include md {
            height: 250px;
        }

        @include lg {
            height: 600px;
        }
    }
}