/* =============
    Footer
============= */
footer {
    background-color: $black;
    color: white;
    padding: 45px 0 50px;
    text-align: center;

    #footer-content {
        ul {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 0 70px;

            @include md {
                padding: 0 280px;
            }

            li {

                a:link,
                a:visited {
                    color: $gray;
                    font-size: rem-calc(30);
                    transition: 0.25s;
                }

                a:hover,
                a:active {
                    color: $white;
                }
            }
        }
    }
}