/* =============
    Footer
============= */
footer{
    background-color: $black;
    padding: 45px 0 50px;
    text-align: center;
    color: white;

    #footer-content{
        ul{
            padding: 0 70px;
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;

            li{
                a:link, a:visited{
                    color: $gray;
                    transition: 0.25s;
                    font-size: rem-calc(30);
                }

                a:hover, a:active{
                    color: $white;
                }
            }
        }
        
    }
    

}